<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdminService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/IISChargeProjectHost/AdminServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
                contract="IISChargeService.IAdminService" name="BasicHttpBinding_IAdminService" />
        </client>
    </system.serviceModel>
</configuration>