<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAgencyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/IISChargeProjectHost/AgencyServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgencyService"
                contract="IISChargeService.IAgencyService" name="BasicHttpBinding_IAgencyService" />
        </client>
    </system.serviceModel>
</configuration>